<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        
        <%- include('../_partials/_head'); %>
        <%- include('../_partials/_cdn_googlecharts'); %>
        <%- include('../_partials/_cdn_fontawesome'); %>
        
        <script type="text/javascript">
            google.charts.load("current", { packages: ["corechart"] });
            google.charts.setOnLoadCallback(drawChart1);
            google.charts.setOnLoadCallback(drawChart2);
            google.charts.setOnLoadCallback(drawChart3);

            async function drawChart1() {
                try {
                    const response = await fetch(
                        `<%= baseURL %>/api/distribution_of_examination_and_revenue_for_all_departments`
                    );
                    const result = await response.json();

                    const chartData = [
                        ["Departmanlar", "Elde Edilen Gelirler (₺)", { role: "style" }],
                    ];
                    result.distribution_of_examination_and_revenue_for_all_departments.forEach((item) => {
                        const color = generateColor();
                        chartData.push([
                            item.department_department_name,
                            parseInt(item.total_revenue, 10),
                            color,
                        ]);
                    });

                    const data =
                        google.visualization.arrayToDataTable(chartData);

                    const options = {
                        hAxis: {
                            title: "Departmanlar",
                        },
                        vAxis: {
                            title: "Elde Edilen Gelirler (₺)",
                            format: "decimal",
                        },
                        legend: { position: "none" },
                        chartArea: {
                            top: 75,
                            right: 75,
                            bottom: 130,
                            left: 200,
                        },
                    };

                    const chart = new google.visualization.ColumnChart(
                        document.getElementById("chart_div1")
                    );

                    chart.draw(data, options);
                } catch (error) {
                    console.error("Veri çekilirken hata oluştu:", error);
                }
            }

            async function drawChart2() {
                try {
                    const response = await fetch(
                        `<%= baseURL %>/api/distribution_of_examination_and_revenue_for_all_departments`
                    );
                    const result = await response.json();

                    const chartData = [
                        ["Departmanlar", "Muayene Sayısı", { role: "style" }],
                    ];
                    result.distribution_of_examination_and_revenue_for_all_departments.forEach((item) => {
                        const color = generateColor();
                        chartData.push([
                            item.department_department_name,
                            parseInt(item.number_examination, 10),
                            color,
                        ]);
                    });

                    const data =
                        google.visualization.arrayToDataTable(chartData);

                    const options = {
                        hAxis: {
                            title: "Departmanlar",
                        },
                        vAxis: {
                            title: "Muayene Sayısı",
                            format: "decimal",
                        },
                        legend: { position: "none" },
                        chartArea: {
                            top: 75,
                            right: 75,
                            bottom: 130,
                            left: 200,
                        },
                    };

                    const chart = new google.visualization.ColumnChart(
                        document.getElementById("chart_div2")
                    );

                    chart.draw(data, options);
                } catch (error) {
                    console.error("Veri çekilirken hata oluştu:", error);
                }
            }

            async function drawChart3() {
                try {
                    const response = await fetch(
                        `<%= baseURL %>/api/numbers_of_sicks_for_all_departments_by_doctor`
                    );
                    const result = await response.json();

                    const chartData = [
                        ["Departmanlar", "Muayene Sayısı", { role: "style" }],
                    ];
                    result.numbers_of_sicks_for_all_departments_by_doctor.forEach((item) => {
                        const color = generateColor();
                        chartData.push([
                            item.department_department_name,
                            parseFloat(item.rate),
                            color,
                        ]);
                    });

                    const data =
                        google.visualization.arrayToDataTable(chartData);

                    const options = {
                        hAxis: {
                            title: "Departmanlar",
                        },
                        vAxis: {
                            title: "Muayene Sayısı",
                            format: "decimal",
                        },
                        legend: { position: "none" },
                        chartArea: {
                            top: 75,
                            right: 75,
                            bottom: 130,
                            left: 200,
                        },
                    };

                    const chart = new google.visualization.ColumnChart(
                        document.getElementById("chart_div3")
                    );

                    chart.draw(data, options);
                } catch (error) {
                    console.error("Veri çekilirken hata oluştu:", error);
                }
            }

           
            function generateColor() {
                const letters = "0123456789ABCDEF";
                let color = "#";
                for (let i = 0; i < 6; i++) {
                    color += letters[Math.floor(Math.random() * 16)];
                }
                return color;
            }
        </script>
    </head>
    <body class="navbar-fixed sidebar-fixed" id="body">
        <div class="wrapper">
            <%- include('../_partials/_sidebar') %>
            <div class="page-wrapper">
                <%- include('../_partials/_header') %>
                <div class="content-wrapper">
                    <div class="content">
                        <div class="row">
                            <div class="col-lg-12 pb-4">
                                <div class="card">
                                    <div class="card-body">
                                        <h1
                                            class="text-center py-3"
                                            style="
                                                font-size: 25px;
                                                font-weight: bold;
                                            "
                                        >
                                            
                                            <small><i>Departmanlara Göre</i><br /></small>
                                            
                                            <span>Elde Edilen Gelirler (₺)</span>
                                        </h1>
                                        <div
                                            id="chart_div1"
                                            style="
                                                min-width: 100%;
                                                height: 60vh;
                                            "
                                        ></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 pb-4">
                                <div class="card">
                                    <div class="card-body">
                                        <h1
                                            class="text-center py-3"
                                            style="
                                                font-size: 25px;
                                                font-weight: bold;
                                            "
                                        >
                                            
                                            <small><i>Departmanlara Göre</i><br /></small>
                                            
                                            <span>Muayene Sayıları</span>
                                        </h1>
                                        <div
                                            id="chart_div2"
                                            style="
                                                min-width: 100%;
                                                height: 60vh;
                                            "
                                        ></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 pb-4">
                                <div class="card">
                                    <div class="card-body">
                                        <h1
                                            class="text-center py-3"
                                            style="
                                                font-size: 25px;
                                                font-weight: bold;
                                            "
                                        >
                                            
                                            <small><i>Departmanlara Göre</i><br /></small>
                                            
                                            <span>Doktor Başına Düşen Muayene Sayısı</span>
                                        </h1>
                                        <div
                                            id="chart_div3"
                                            style="
                                                min-width: 100%;
                                                height: 60vh;
                                            "
                                        ></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <%- include('../_partials/_footer') %>
            </div>
        </div>
        <%- include('../_partials/_scripts') %>
    </body>
</html>
