<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        
        <%- include('./_partials/_head'); %>
        <%- include('./_partials/_cdn_googlecharts'); %>
        <%- include('./_partials/_cdn_fontawesome'); %>
        
        <script type="text/javascript">
            google.charts.load("current", { packages: ["corechart", "line"] });
            google.charts.setOnLoadCallback(drawBasic1);
            google.charts.setOnLoadCallback(drawBasic2);
            google.charts.setOnLoadCallback(drawBasic3);
            google.charts.setOnLoadCallback(drawBasic4);
            google.charts.setOnLoadCallback(drawBasic5);
            google.charts.setOnLoadCallback(drawBasic6);
            google.charts.setOnLoadCallback(drawBasic7);

            function drawBasic1() {
                fetch(
                    `<%= baseURL %>/api/monthly_examination_numbers_of_all_internists`
                )
                    .then((response) => {
                        if (!response.ok) {
                            throw new Error("Network response was not ok");
                        }
                        return response.json();
                    })
                    .then((data) => {
                        var chartData = new google.visualization.DataTable();
                        chartData.addColumn("string", "Aylar");
                        chartData.addColumn("number", "Muayene Sayısı");
                        data.monthly_examination_numbers_of_all_internists.forEach(
                            (item) => {
                                chartData.addRow([
                                    new Intl.DateTimeFormat("tr-TR", {
                                        month: "long",
                                    }).format(new Date(2024, item.month - 1)),
                                    item.number,
                                ]);
                            }
                        );

                        var options = {
                            titleTextStyle: {
                                fontSize: 24,
                                bold: true,
                            },
                            // curveType: "function",
                            // legend: { position: "bottom" },
                            hAxis: {
                                title: "Aylar",
                                // format: "M/d/yy",
                                // slantedText: true,
                                // slantedTextAngle: 90,
                            },
                            vAxis: {
                                title: "Muayene Sayısı",
                                format: "#",
                            },
                            chartArea: {
                                top: 75,
                                right: 140,
                                bottom: 130,
                                left: 120,
                            },
                        };

                        var chart = new google.visualization.LineChart(
                            document.getElementById("chart_div1")
                        );
                        chart.draw(chartData, options);
                    })
                    .catch((error) => {
                        console.error("Error fetching data:", error);
                        alert(
                            "Veri alınırken bir hata oluştu. Lütfen tekrar deneyin."
                        );
                    });
            }

            function drawBasic2() {
                fetch(
                    `<%= baseURL %>/api/number_of_examination_for_internists_by_month`
                )
                    .then((response) => {
                        if (!response.ok) {
                            throw new Error("Network response was not ok");
                        }
                        return response.json();
                    })
                    .then((data) => {
                        const formattedData = {};
                        data.number_of_examination_for_internists_by_month.forEach(
                            (item) => {
                                const { doctor_fullname, month, number } = item;

                                if (!formattedData[month]) {
                                    formattedData[month] = {
                                        date: new Intl.DateTimeFormat("tr-TR", {
                                            month: "long",
                                        }).format(
                                            new Date(2024, item.month - 1)
                                        ),
                                    };
                                }
                                formattedData[month][doctor_fullname] = number;
                            }
                        );

                        const doctors = [
                            ...new Set(
                                data.number_of_examination_for_internists_by_month.map(
                                    (item) => item.doctor_fullname
                                )
                            ),
                        ];
                        const chartDataArray = [["Tarih", ...doctors]];

                        Object.values(formattedData).forEach((row) => {
                            const rowArray = [row.date];
                            doctors.forEach((doctor) => {
                                rowArray.push(row[doctor] || 0);
                            });
                            chartDataArray.push(rowArray);
                        });

                        const chartData =
                            google.visualization.arrayToDataTable(
                                chartDataArray
                            );

                        const options = {
                            titleTextStyle: {
                                fontSize: 24,
                                bold: true,
                            },
                            vAxis: { title: "Muayene Sayısı", format: "#" },
                            hAxis: {
                                title: "Tarih",
                                // slantedText: true,
                                // slantedTextAngle: 90,
                            },
                            seriesType: "bars",
                            series: { [doctors.length]: { type: "line" } },
                            chartArea: {
                                top: 75,
                                right: 170,
                                bottom: 130,
                                left: 120,
                            },
                        };

                        const chart = new google.visualization.ComboChart(
                            document.getElementById("chart_div2")
                        );
                        chart.draw(chartData, options);
                    })
                    .catch((error) => {
                        console.error("Error fetching data:", error);
                        alert(
                            "Veri alınırken bir hata oluştu. Lütfen tekrar deneyin."
                        );
                    });
            }

            function drawBasic3() {
                fetch(
                    `<%= baseURL %>/api/distribution_of_examination_by_internists`
                )
                    .then((response) => response.json())
                    .then((data) => {
                        const chartData = [["Doktor Adı", "Muayene Sayısı"]];

                        data.distribution_of_examination_by_internists.forEach(
                            (item) => {
                                chartData.push([
                                    item.doctor_fullname,
                                    item.number,
                                ]);
                            }
                        );

                        const dataTable =
                            google.visualization.arrayToDataTable(chartData);

                        const options = {
                            titleTextStyle: {
                                fontSize: 24,
                                bold: true,
                            },
                            chartArea: {
                                top: 85,
                                right: 0,
                                bottom: 0,
                                left: 75,
                            },
                        };

                        const chart = new google.visualization.PieChart(
                            document.getElementById("chart_div3")
                        );

                        chart.draw(dataTable, options);
                    })
                    .catch((error) => {
                        console.error(
                            "API çağrısı sırasında bir hata oluştu:",
                            error
                        );
                    });
            }
            
            function drawBasic4() {
                fetch(`<%= baseURL %>/api/number_of_doctors_in_departments`)
                    .then((response) => response.json())
                    .then((data) => {
                        const chartData = [["Departman", "Yüzde"]];

                        data.number_of_doctors_in_departments.forEach(
                            (item) => {
                                chartData.push([item.department_name, item.number]);
                            }
                        );

                        const dataTable =
                            google.visualization.arrayToDataTable(chartData);

                        const options = {
                            titleTextStyle: {
                                fontSize: 24,
                                bold: true,
                            },
                            chartArea: {
                                top: 85,
                                right: 0,
                                bottom: 0,
                                left: 75,
                            },
                        };

                        const chart = new google.visualization.PieChart(
                            document.getElementById("chart_div4")
                        );

                        chart.draw(dataTable, options);
                    })
                    .catch((error) => {
                        console.error(
                            "API çağrısı sırasında bir hata oluştu:",
                            error
                        );
                    });
            }
            
            function drawBasic5() {
                fetch(`<%= baseURL %>/api/total_revenue_by_record_date`)
                    .then((response) => {
                        if (!response.ok) {
                            throw new Error("Network response was not ok");
                        }
                        return response.json();
                    })
                    .then((data) => {
                        var chartData = new google.visualization.DataTable();
                        chartData.addColumn("string", "Aylar");
                        chartData.addColumn("number", "Elde Edilen Gelirler (₺)");
                        data.total_revenue_by_record_date.forEach((item) => {
                            chartData.addRow([
                                new Intl.DateTimeFormat("tr-TR", {
                                    month: "long",
                                }).format(new Date(2024, item.month - 1)),
                                parseInt(item.number, 10),
                            ]);
                        });

                        var options = {
                            colors: ["#00e600"],
                            titleTextStyle: {
                                fontSize: 24,
                                bold: true,
                            },
                            // curveType: "function",
                            // legend: { position: "bottom" },
                            hAxis: {
                                title: "Aylar",
                                // format: "M/d/yy",
                                // slantedText: true,
                                // slantedTextAngle: 90,
                            },
                            vAxis: {
                                title: "Elde Edilen Gelirler (₺)",
                                format: "#",
                            },
                            chartArea: {
                                top: 75,
                                right: 140,
                                bottom: 130,
                                left: 130,
                            },
                        };

                        var chart = new google.visualization.LineChart(
                            document.getElementById("chart_div5")
                        );
                        chart.draw(chartData, options);
                    })
                    .catch((error) => {
                        console.error("Error fetching data:", error);
                        alert(
                            "Veri alınırken bir hata oluştu. Lütfen tekrar deneyin."
                        );
                    });
            }

            function drawBasic6() {
                fetch(`<%= baseURL %>/api/sick_by_gender`)
                    .then((response) => response.json())
                    .then((data) => {
                        const chartData = [["Cinsiyet", "Yüzde"]];

                        data.sick_by_gender.forEach(
                            (item) => {
                                chartData.push([item.gender_name, item.number]);
                            }
                        );

                        const dataTable =
                            google.visualization.arrayToDataTable(chartData);

                        const options = {
                            titleTextStyle: {
                                fontSize: 24,
                                bold: true,
                            },
                            chartArea: {
                                top: 85,
                                right: 0,
                                bottom: 0,
                                left: 75,
                            },
                        };

                        const chart = new google.visualization.PieChart(
                            document.getElementById("chart_div6")
                        );

                        chart.draw(dataTable, options);
                    })
                    .catch((error) => {
                        console.error(
                            "API çağrısı sırasında bir hata oluştu:",
                            error
                        );
                    });
            }

            function drawBasic7() {
                fetch(`<%= baseURL %>/api/distribution_of_examination_and_revenue_for_other_departments`)
                    .then((response) => response.json())
                    .then((data) => {
                        const chartData = [["Departman", "Yüzde"]];

                        data.distribution_of_examination_and_revenue_for_other_departments.forEach(
                            (item) => {
                                chartData.push([item.department_department_name,
                                parseInt(item.number_examination, 10),
                                ]);
                            }
                        );

                        const dataTable =
                            google.visualization.arrayToDataTable(chartData);

                        const options = {
                            titleTextStyle: {
                                fontSize: 24,
                                bold: true,
                            },
                            chartArea: {
                                top: 85,
                                right: 0,
                                bottom: 0,
                                left: 75,
                            },
                        };

                        const chart = new google.visualization.PieChart(
                            document.getElementById("chart_div7")
                        );

                        chart.draw(dataTable, options);
                    })
                    .catch((error) => {
                        console.error(
                            "API çağrısı sırasında bir hata oluştu:",
                            error
                        );
                    });
            }
            
        </script>
    </head>
    <body class="navbar-fixed sidebar-fixed" id="body">
        <div class="wrapper">
            <%- include('./_partials/_sidebar') %>
            <div class="page-wrapper">
                <%- include('./_partials/_header') %>
                <div class="content-wrapper">
                    <div class="content">
                        <div class="row">
                            <div class="col-xl-3 col-md-6">
                                <div
                                    class="card card-default"
                                    style="min-height: 85%"
                                >
                                    <div class="d-flex p-5">
                                        <div
                                            class="icon-md bg-success rounded-circle mr-3"
                                        >
                                            <i
                                                class="fa-solid fa-turkish-lira-sign"
                                            ></i>
                                        </div>
                                        <div class="text-left">
                                            
                                            <span class="h4 d-block mt-3" style="font-size: 20px;">Toplam Hasılat</span>
                                            
                                            <p class="h2" style="font-weight: bold; font-size: 26px;"><%= Number(total_revenue[0].number).toLocaleString('tr-TR') %> ₺</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-6">
                                <div
                                    class="card card-default"
                                    style="min-height: 85%"
                                >
                                    <div class="d-flex p-5">
                                        <div
                                            class="icon-md bg-secondary rounded-circle mr-3"
                                        >
                                            <i
                                                class="fa-solid fa-magnifying-glass"
                                            ></i>
                                        </div>
                                        <div class="text-left">
                                            
                                            <span class="h4 d-block mt-3">Muayene</span>
                                            
                                            <p class="h2" style="font-weight: bold;"><%= total_examination[0].number %></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-6">
                                <div
                                    class="card card-default"
                                    style="min-height: 85%"
                                >
                                    <div class="d-flex p-5">
                                        <div
                                            class="icon-md bg-info rounded-circle mr-3"
                                        >
                                            <i
                                                class="fa-solid fa-building-user"
                                            ></i>
                                        </div>
                                        <div class="text-left">
                                            
                                            <span class="h4 d-block mt-3" style="font-size: 18px;">Aktif Departman</span>
                                            
                                            <p class="h2" style="font-weight: bold;"><%= total_department[0].number %></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-6">
                                <div
                                    class="card card-default"
                                    style="min-height: 85%"
                                >
                                    <div class="d-flex p-5">
                                        <div
                                            class="icon-md bg-primary rounded-circle mr-3"
                                        >
                                            <i
                                                class="fa-solid fa-user-doctor"
                                            ></i>
                                        </div>
                                        <div class="text-left">
                                            
                                            <span class="h4 d-block mt-3">Doktor</span>
                                            
                                            <p class="h2" style="font-weight: bold;" style="font-weight: bold;" style="font-weight: bold;"><%= total_doctor[0].number %></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 pb-4">
                                <div class="card">
                                    <div class="card-body">
                                        <h1
                                            class="text-center py-3"
                                            style="
                                                font-size: 25px;
                                                font-weight: bold;
                                            "
                                        >
                                            
                                            <small><i>Dahiliye Departmanında</i><br /></small>
                                            
                                            <span>Muayene Edilen Hasta Sayıları</span>
                                        </h1>
                                        <div
                                            id="chart_div1"
                                            style="
                                                min-width: 100%;
                                                height: 60vh;
                                            "
                                        ></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 pb-4">
                                <div class="card">
                                    <div class="card-body">
                                        <h1
                                            class="text-center py-3"
                                            style="
                                                font-size: 25px;
                                                font-weight: bold;
                                            "
                                        >
                                            
                                            <small><i>Dahiliye Doktorları Tarafından</i><br /></small>
                                            
                                            <span>Muayene Edilen Hasta Sayıları</span>
                                        </h1>
                                        <div
                                            id="chart_div2"
                                            style="
                                                min-width: 100%;
                                                height: 60vh;
                                            "
                                        ></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6 pb-4">
                                <div class="card">
                                    <div class="card-body">
                                        <h1
                                            class="text-center py-3"
                                            style="
                                                font-size: 25px;
                                                font-weight: bold;
                                            "
                                        >
                                            
                                            <small><i>Dahiliye Departmanındaki Doktorların</i><br /></small>
                                            
                                            <span>Toplamdaki Muayene Dağılımı</span>
                                        </h1>
                                        <div
                                            id="chart_div3"
                                            style="
                                                min-width: 100%;
                                                height: 50vh;
                                            "
                                        ></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 pb-4">
                                <div class="card">
                                    <div class="card-body">
                                        <h1
                                            class="text-center py-3"
                                            style="
                                                font-size: 25px;
                                                font-weight: bold;
                                            "
                                        >
                                           
                                            <small><i>Hastaların, Dahiliye Sonrasında</i><br /></small>
                                            
                                            <span>Muayene Oldukları Departmanlar</span>
                                        </h1>
                                        <div
                                            id="chart_div7"
                                            style="
                                                min-width: 100%;
                                                height: 50vh;
                                            "
                                        ></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 pb-4">
                                <div class="card">
                                    <div class="card-body">
                                        <h1
                                            class="text-center py-3"
                                            style="
                                                font-size: 25px;
                                                font-weight: bold;
                                            "
                                        >
                                            
                                            <small><i>Tedavi Başlangıç Tarihine Göre</i><br /></small>
                                            
                                            <span>Elde Edilen Gelirler (₺)</span>
                                        </h1>
                                        <div
                                            id="chart_div5"
                                            style="
                                                min-width: 100%;
                                                height: 60vh;
                                            "
                                        ></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6 pb-4">
                                <div class="card">
                                    <div class="card-body">
                                        <h1
                                            class="text-center py-3"
                                            style="
                                                font-size: 25px;
                                                font-weight: bold;
                                            "
                                        >
                                            
                                            <small><i>Personellerin</i><br /></small>
                                            
                                            <span>Departman Dağılımı</span>
                                        </h1>
                                        <div
                                            id="chart_div4"
                                            style="
                                                min-width: 100%;
                                                height: 50vh;
                                            "
                                        ></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 pb-4">
                                <div class="card">
                                    <div class="card-body">
                                        <h1
                                            class="text-center py-3"
                                            style="
                                                font-size: 25px;
                                                font-weight: bold;
                                            "
                                        >
                                            
                                            <small><i>Hastaların</i><br /></small>
                                            
                                            <span>Cinsiyet Dağılımı</span>
                                        </h1>
                                        <div
                                            id="chart_div6"
                                            style="
                                                min-width: 100%;
                                                height: 50vh;
                                            "
                                        ></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <%- include('./_partials/_footer') %>
            </div>
        </div>
        <%- include('./_partials/_scripts') %>
    </body>
</html>
